.username {
  background: url(img/iconUser.svg) no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
  background-position: left center;
  font-size: 20px;
}

.password {
  background: url(img/iconSecret.svg) no-repeat;
  background-color: rgba(255, 255, 255, 0.9);
  background-position: left center;
  -webkit-text-security: circle;
  font-size: 20px;
}
